{% extends "users/index.html" %}

{% block title %}Browse Sessions{% endblock %}


{% block content2 %}


<table id="session-list">

    <tr>
      <td><b>Name</b></td>
      <td><b>Event</b></td>
      <td><b>Date</b></td>
      <td><b>Start</b></td>
      <td><b>End</b></td>
    </tr>

	{% for session in sessions %}
		<tr>
      <td>{{session.}}</td>
      <td>{{event.end}}</td>
      <td>{{session.date}}</td>
      <td>{{session.start}}</td>
      <td>{{session.end}}</td>
      
		</tr>
  {% endfor %}

</table>

{% endblock %}


